doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
  body
    h1 = "Hey, #{@user.username}! Father add a new post!"
    .container
      - @posts.each do |post|  
        h2 = post.title
      