.container
  .row.m-y-2
    .col-lg-4.text-lg-center
      h2
        | Edit #{resource_name.to_s.humanize}
    .col-lg-10.push-lg-4.personal-info
      = form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
        = devise_error_messages!
        .form-group.row
          = f.label :username, :class => 'col-lg-3 col-form-label form-control-label'
          .col-lg-9
            = f.text_field :username, autocomplete: "username", :class => 'form-control'
        .form-group.row
          = f.label :email, :class => 'col-lg-3 col-form-label form-control-label'
          .col-lg-9
            = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control'
        - if devise_mapping.confirmable? && resource.pending_reconfirmation?
          div
            | Currently waiting confirmation for: #{resource.unconfirmed_email}
        .form-group.row
          = f.label :password, :class => 'col-lg-3 col-form-label form-control-label'
          .col-lg-9
            = f.password_field :password, autocomplete: "new-password", :class => 'form-control', :placeholder => "leave blank if you don't want to change it"
            - if @minimum_password_length
              em
                = @minimum_password_length
                | characters minimum
        .form-group.row
          = f.label :password_confirmation, :class => 'col-lg-3 col-form-label form-control-label'
          .col-lg-9
            = f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control'
        .form-group.row
          = f.label :current_password, :class => 'col-lg-3 col-form-label form-control-label'
          .col-lg-9
            = f.password_field :current_password, autocomplete: "current-password", :class => 'form-control', :placeholder => 'we need your current password to confirm your changes'
        .form-group.row
          .col-lg-10
            = f.submit "Save Changes", :class => 'btn btn-primary'
            = link_to "Cancel", :back, :class => 'btn  btn-info'
            = button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, :class => 'btn btn-danger'
    .col-lg-2.pull-lg-8.text-xs-center
      img.m-x-auto.img-fluid.img-circle alt="avatar" src="//placehold.it/150" /
      h6.m-t-2 Upload a different photo
      label.custom-file
        input#file.custom-file-input type="file" /
        span.custom-file-control Choose file
