= stylesheet_link_tag    'auth', media: 'all', 'data-turbolinks-track': 'reload'
.text-center
  .container
    = form_for(resource, as: resource_name, url: registration_path(resource_name), html:{ multipart: true } ) do |f|
      = devise_error_messages!
      .form-singin
        h3.h3.mb-3.font-weight-normal= t('device.sign_up')
        = f.label :username, :for => 'username', :class => 'sr-only'
        = f.text_field :username, autofocus: true, autocomplete: "username", :class => 'form-control', :id => 'username', :placeholder => t('device.username')
        = f.label :email, :for => 'email', :class => 'sr-only'
        = f.email_field :email, autocomplete: "email", :class => 'form-control', :id => 'email', :placeholder => 'E-mail'
        = f.label :password, :for => 'password', :class => 'sr-only'
        = f.password_field :password, autocomplete: "new-password", :class => 'form-control', :id => 'password', :placeholder => t('device.password')
        - if @minimum_password_length
          small.form-text.text-muted
            | (#{t('device.minpass', min: @minimum_password_length)})
        = f.label :password_confirmation, :for => 'confirm', :class => 'sr-only'
        = f.password_field :password_confirmation, autocomplete: "new-password", :class => 'form-control', :id => 'confirm', :placeholder => t('device.confirm')
        = f.label :avatar, :for => 'ava', :class => 'sr-only'
        = f.file_field :avatar, :id => 'ava', :class => 'form-control'
        br/
        = f.submit t('device.sign_up'), :class => 'btn btn-lg btn-primary btn-block'
        small= render "devise/shared/links"
