= stylesheet_link_tag  'profile', media: 'all', 'data-turbolinks-track': 'reload'
= render 'posts/nav'
= render 'posts/header'
.container.emp-profile
  = render 'errors'
  = form_for @user, html:{ multipart: true } do |f|
    .row
      - if current_user.avatar != ''
        .col-md-4
          .profile-img
            img alt="#{current_user.avatar}" src="#{current_user.avatar.url(:large)}" /
            .file.btn.btn-lg.btn-primary
              = t('users.index.photo')
              = f.file_field :avatar
      - else
        .col-md-8
          .col-md-12
            .profile-head
              h5
                = current_user.username
    .row style=("margin-top: -250px")
      .col-md-4
      .col-md-8
        .form-group.row
          = f.label :email, :class => 'col-md-6 col-form-label form-control-label'
          .col-md-6
            = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control'
        .form-group.row
          = f.label :username, :class => 'col-md-6 col-form-label form-control-label'
          .col-md-6
            = f.text_field :username, autofocus: true, autocomplete: "username", :class => 'form-control'
        - if current_user.is_admin = false     
          .form-group.row
            = f.label :subscribe_status, :class => 'col-md-6 col-form-label form-control-label'
            .col-md-6
              = f.select :subscribe_status, options_for_select([[t('subscribe.daily'), 1], [t('subscribe.weekly'), 2], [t('subscribe.mouthly'),3]], current_user.subscribe_status), :class => 'form-control'
        .col-lg-10
          = f.submit t('users.index.submit'), :class => 'btn btn-primary' 
          |&nbsp;
          = link_to t('common.back'), :back, :class => 'btn  btn-info'
