= render 'posts/nav'
= render 'posts/header'
.container
  h1
    | Filtred by tag: ##{@tag.name}
  - if @tag.posts.empty?
    h2 No posts
  - else
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-preview
            a href="post.html" 
              = render @tag.posts
          /! Pager
          .clearfix
            a.btn.btn-primary.float-right href="#"  Older Posts →
    hr/
