= stylesheet_link_tag  'auth', media: 'all', 'data-turbolinks-track': 'reload'
.text-center
  .container
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-signin
        h3.h3.mb-3.font-weight-normal = t('device.log_in')
        = f.label :email, :for => 'email', :class => 'sr-only'
        = f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control', :id => 'email', :placeholder => 'E-mail'
        = f.label :password, :for => 'password', :class => 'sr-only'
        = f.password_field :password, autocomplete: "current-password", :class => 'form-control', :id => 'password', :placeholder => t('device.password')
        - if devise_mapping.rememberable?
          .checkbox.mb-3
            = f.check_box :remember_me, :class => 'form-check-input', :id => 'check'
            = f.label :remember_me, :for => 'check'
        = f.submit t('device.log_in'), :class => 'btn btn-lg btn-primary btn-block'
        small= render "devise/shared/links"
