= render 'errors'
= form_for @post, html:{ multipart: true } do |f|
  .form-group.row
    = f.label :title, :class => 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_field :title, :class => 'form-control', :placeholder => t('posts.title')
  .form-group.row
    = f.label :summary, :class => 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_area :summary, :class => 'form-control', :placeholder => t('posts.summary')
  .form-group.row
    = f.label :all_tags, :class => 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_field :all_tags, :class => 'form-control', :id => 'tags', :placeholder => t('posts.all_tags'), data: {autocomplete_source: Tag.order(:name).map(&:name)}   
    javascript:
      $('#tags'). autocomplete({
        source:  $('#tags').data('autocomplete-source')
      });  
  .form-group.row
    = f.label :body, :class => 'col-sm-2 col-form-label'
    .col-sm-10
      = f.text_area :body, :class => 'form-control', :id => 'text_edit_field', :placeholder => :body
    javascript:
       $('#text_edit_field').froalaEditor({toolbarInline: false, language: 'ru'});
  .form-group.row
    = f.label :background, :class => 'col-sm-2 col-form-label'
    .col-sm-10
      = f.file_field :background, :class => 'form-control'
  .form-group.row
    .col-sm-10
      = f.submit t('.submit'), :class => 'btn btn-primary'