body
  header.masthead style=("background-image: url('#{asset_path('home-bg.jpg')}')") 
    .overlay
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .site-heading
            h1= t('header.heading')
            span.subheading= t('header.sub')
            br/
            = t('header.welcome', username: current_user.username)
            - flash.each do |name, message|
              div class=("alert alert-#{name}") 
                = message
