body
  header.masthead style=("max-height: 75px; margin-bottom:150px; background-image: url('#{asset_path('home-bg.jpg')}')") 
    .overlay
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .site-heading
            
