= stylesheet_link_tag    'top-profile', media: 'all', 'data-turbolinks-track': 'reload'
nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container
    = link_to t('nav.home'), posts_path, :class => 'navbar-brand'
    button.navbar-toggler.navbar-toggler-right aria-controls="navbarResponsive" aria-expanded="false" aria-label=("Toggle navigation") data-target="#navbarResponsive" data-toggle="collapse" type="button" 
      = t('nav.menu')
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          = link_to t('nav.new'), new_post_path
        li.dropdown.nav-item
          a.dropdown-toggle.nav-link aria-expanded="false" data-toggle="dropdown" href="#" role="button" 
            = current_user.username
          ul.dropdown-menu role="menu" style=("left: -125px") 
            li.dropdown-item
              .container
                .row
                  .col-lg-12.col-sm-6
                    .card.hovercard
                      .cardheader
                      .avatar
                        img alt="#{current_user.avatar}" src="#{current_user.avatar.url(:thumb)}" /
                      .info
                        .title
                          = link_to current_user.username, users_path
                        .desc
                          | E-mail: #{current_user.email}
              .text-center
                = link_to t('nav.exit'), destroy_user_session_path, :class => 'btn btn-danger', :style => ' padding: 3px 25px; border-radius: 15px;', :method => :delete, data: {confirm: t('nav.confirm')}
