.media
  img.align-self-center.mr-3 alt="#{post.background}" src="#{post.background.url(:thumb)}" /
  .media-body
    h2.mt-0= link_to post.title, post_path(post)
    p.post-meta.mt-0
      = t('post.by')
      = post.user.username
    time.text-muted
      = Russian::strftime(post.created_at.to_date, '%d %B %Y')
= t('post.tags')
section.footer-summary
  == post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-primary' }.join(' ')
hr/