= render 'nav'
= render 'header_min'
.container
  h1
    = t('posts.edit.title')
  br/
  .row
    .col-md-6
      - flash.each do |name, message|
        div class=("alert alert-#{name}") 
          = message
  = render 'form'
