= render 'nav'
= render 'header'
.container
  .row
    .col-lg-8.col-md-10.mx-auto
      .post-preview
        = render @posts
/! Footer
footer
  .container
    .row
      .col-lg-8.col-md-10.mx-auto
        p.copyright.text-muted Copyright © Easy blog 2018
