body
  = render 'nav'
  header.masthead style=("background-image: url('#{@post.background.url(:large)}')") 
    .overlay
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .post-heading
            h1= @post.title
            h2.subheading= @post.summary
            - if current_user.id == @post.user.id
              = link_to t('common.edit'), edit_post_path(@post), :class => 'btn btn-outline-warning'
              |&nbsp;
              = link_to t('common.delete'), post_path(@post), method: :delete, data: {confirm: 'Вы уверены?'}, :class => 'btn btn-outline-danger'
            - if !current_user.is_admin
              - if !current_user.subscribe
                = link_to t('subscribe.sub', adminname: User.find(1).username), subscribe_path,  :class => 'btn btn-outline-info'
              - else
                = link_to t('subscribe.unsub', adminname: User.find(1).username), unsubscribe_path,  :class => 'btn btn-outline-warning'
  /! Post Content
  article
    .container
      .row
        .col-lg-8.col-md-10.mx-auto
          .row
            .col-md-6
              - flash.each do |name, message|
                div class=("alert alert-#{name}") 
                  = message
          == @post.body
          | Tags:
          .footer-summary
            == @post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: 'badge badge-primary' }.join(' ')
          br/
          span.meta
            = t('post.by')    
            = @post.user.username
            br/
            time.text-muted
              = Russian::strftime(@post.created_at.to_date, '%d %B %Y')
