doctype html
html
  head
    meta[charset="utf-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"]
    meta[name="description" content=""]
    meta[name="author" content=""]
    title
      | Clean Blog - Start Bootstrap Theme
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag    'clean-blog.min', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'clean-blog.min', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'https://cdn.embedly.com/widgets/platform.js', 'data-turbolinks-track': 'reload', 'charset': 'UTF-8'
    link[href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css"]
    link[href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css"]
  body
    = yield